/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

/*----------GRID WRAPPER----------*/
.grid-wrapper {
	display: grid;
	grid-template-columns: 440px 1fr;
	grid-template-rows: 270px 1fr 70px;
	grid-template-areas:
		"header header"
		"side main"
		"footer footer";
}

.grid-header {
	grid-area: header;
}

.grid-side {
	grid-area: side;
}

.grid-main {
	grid-area: main;
}

.grid-footer {
	grid-area: footer;
}


/* ----------------------------------------- */
body {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}


/* ------------------HEADER--------------- */
.header {}

.header__top-text {
	font-weight: 500;
}

.header__top {
	padding-top: 10px;
	max-width: 700px;
	margin: 0 auto;
	text-align: center;
		font-size: 15px;
		padding-bottom: 20px;
}

.header__top-text {}

.logotext {
	font-size: 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logotext img {
	width: 80px;
}

.logotext__left {
	width: 300px;
}

.logotext__right {
	letter-spacing: 8px;
	width: 330px;
}

.logo {}

.header__main {
	background-color: #337ABC;
	color: #fff;
	font-size: 30px;
}

.header__main h2 {
	text-align: center;
	padding: 20px;
}

.header__main p {
	padding-top: 7px;
	font-weight: 500;
}

.header__bottom {
	padding: 20px;
	font-weight: 400;
	background-color: #DCDCDC;
	color: #000;
	font-size: 30px;
	text-align: center;
	box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
}

.header__bottom h4 {
	padding: 5px 0px 0px 0px;
	font-weight: 500;
}

/* -------------SIDEBAR------------------ */
.side {
	padding-top: 80px;
}

.acor-container {
	padding-left: 120px;
	margin: 5px 0;
}

.acor-container .acor-body {
	width: calc(100% - 40px);
	margin: 0 auto;
	height: 0;
	color: rgba(0, 0, 0, 0);
	background-color: #BFE2FF;
	line-height: 18px;
	padding: 0 30px;
	box-sizing: border-box;
	transition: color 0.5s, padding 0.5s;
	overflow: hidden;
	font-size: 14px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 10px 16px rgba(0, 0, 0, 0.2);
}

.acor-container .acor-body p {
	margin: 0 0 10px;
}

.acor-container a {
	cursor: pointer;
	background-color: #337AB7;
	display: block;
	padding: 15px 20px;
	width: 100%;
	color: #BFE2FF;
	font-weight: 300;
	box-sizing: border-box;
	z-index: 100;
	font-size: 20px;
	margin: 0 0 5px;
	transition: color .35s;
}

.acor-container a:hover {
	color: #FFF;
}

.acor-container input {
	display: none;
}

.acor-container a:before {
	content: '\276F';
	float: right;
}

.acor-container input:checked+label {
	background-color: #285f8f;
	color: #FFF;
	box-shadow: 0 8px 26px rgba(0, 0, 0, 0.4), 0 28px 30px rgba(0, 0, 0, 0.3);
}

.acor-container input:checked+label:before {
	transition: transform .35s;
	transform: rotate(90deg);
}

.acor-container input:checked+label+.acor-body {
	height: auto;
	margin-top: -5px;
	color: #000;
	padding: 10px 10px 0px 10px;
}

.acor-bodylink a {
	color: black;
}

.acor-bodylink p {
	font-size: 12px;
	padding: 5px;
	border: 1px solid black;
}

.acor-bodylink p:hover {
	background-color: rgb(174, 241, 249);
}

.oglavlenie {
	padding-left: 120px;
	margin-bottom: 5px;
}

.oglavlenie h2 {
	letter-spacing: 2px;
}

.side h2 {
	text-transform: uppercase;
	padding: 20px;
	color: #fff;
	font-size: 30px;
	background-color: #337AB7;
}

.glavnaya {
	padding-left: 120px;
}

.glavnaya p {
	padding: 20px;
	text-transform: uppercase;
	color: #BFE2FF;
	font-size: 15px;
	background-color: #337AB7;
}

.glavnaya p:hover {
	color: white;
}

.test {
	padding-bottom: 5px;
}

.test p {
	padding: 20px;
	text-transform: uppercase;
	color: #BFE2FF;
	font-size: 15px;
	background-color: #337AB7;
}

.test p:hover {
	color: white;
}


/* -----------MAIN--------------- */
.main {
	padding-top: 70px;
	margin-left: 40px;
	margin-right: 80px;
	/* padding-top: 30px;
   padding-right: 158px; */
	max-width: 2000px;
}

.main-img {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.main-2abz{
	padding-top: 40px;
}
.main h3 p {
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	font-size: 25px;
	padding-bottom: 15px;
}
.main p:first-child{
	padding-top: 10px;
}
.main p {
	text-indent: 50px;
	font-weight: normal;
	padding-bottom: 20px;
	font-size: 20px;
	line-height: 1.4;
	text-align: justify;
}

.main-img1 {
	display: flex;
	justify-content: center;
	padding-bottom: 40px;
}

.main-img1 img {
	width: 80%;
}


.main-img2 {
	display: flex;
	justify-content: center;
}

.main-img2 img {
}

.main-img2__text p {
	text-align: center;
	font-weight: 400;
	padding-bottom: 20px;
}

.list p {
	padding-top: 0;
	text-indent: 30px;
	padding-bottom: 10px;
}

.list p:last-child {
	padding-bottom: 40px;
}

.list2 p {
	padding-bottom: 10px;
}

.list2 p:last-child {
	padding-bottom: 40px;
}

.otstup {
	max-width: 700px;
	margin: 0 auto;
	text-indent: 50px;
}

.otstup p {
	padding-bottom: 10px;
	text-align: center;
	font-weight: 600;
}

.tablica-text {
	display: flex;
	justify-content: flex-end;
	padding-bottom: 0px;
}

.main__buttons p{
	text-indent: 0px;
	text-align: left;
}

.buttons {
	padding: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 40px;
	padding-top: 30px;
}

.button__left {
	border-radius: 10px;
	background-color: #337AB7;
}

.button__left:hover {
	transition: 0.3s;
	transform: scale(1.03);
	box-shadow: 0px 0px 0px 5px rgba(51, 122, 183, 0.2);
}

.button__left a {}

.button__left p {
	color: #fff;
	padding: 20px;
}


.button__right {
	max-width: 250px;
	border-radius: 10px;
	background-color: #337AB7;
}

.button__right a {}

.button__right p {
	color: #fff;
	padding: 20px;
}

.button__right:hover {
	transition: 0.3s;
	transform: scale(1.03);
	box-shadow: 0px 0px 0px 5px rgba(51, 122, 183, 0.2);
}

/* ------------FOOTER------- */
.footer {
	background-color: #3E3E3E;
}

.footer__text {
	display: flex;
	justify-content: space-between;
	max-width: 2700px;
	padding: 0px 100px;
}

.footer p {
	font-weight: 500;
	color: #fff;
}

.footer p:first-child {
	padding-top: 15px;
	padding-bottom: 10px;
}

.footer-textright {
	padding-top: 20px;
}

@media (max-width: 1540px) {
	.footer__text {
		padding: 0px 80px;
	}
}

@media (max-width: 1200px) {
	.grid-wrapper {
		display: flex;
		flex-direction: column;
	}

	.acor-container {
		padding-right: 120px;
	}

	.oglavlenie {
		padding-right: 120px;
	}

	.glavnaya {
		padding-right: 120px;
	}

	.side {
		padding-top: 50px;
	}

	.main {
		margin-left: 30px;
		margin-right: 30px;
		max-width: 1100px;
		padding-top: 40px;
	}

	.footer__text {
		padding: 0px 50px;
	}
}

@media (max-width: 1000px) {
	.main-img1 img {
		max-width: 600px;
	}
}

@media (max-width: 767px) {
	.logotext {
		font-size: 15px;
		display: flex;
		flex-direction: column;
	}

	.header__main h2 {
		font-size: 20px;
	}

	.header__main p {
		font-size: 15px;
	}

	.header__bottom p {
		font-size: 20px;
	}

	.header__top-text {
		font-size: 10px;
		padding-bottom: 10px;
	}

	.main p {
		font-size: 15px;
	}

	.footer p {
		font-size: 10px;
	}

	.main {
		padding-top: 30px;
	}

	.oglavlenie h2 {
		font-size: 20px;
	}

	.acor-container label {
		font-size: 15px;
	}

	.acor-container {
		padding-right: 60px;
		padding-left: 60px;
	}

	.oglavlenie {
		padding-right: 60px;
		padding-left: 60px;
	}

	.glavnaya {
		padding-right: 60px;
		padding-left: 60px;
	}

	.footer__text {
		display: flex;
		flex-direction: column;
		padding-left: 40px;
	}

	.footer-textright {
		padding-top: 0px;
	}

	.main-img1 img {
		max-width: 460px;
	}

	.main-img2 img {
		max-width: 400px;
	}

	.main-img1__text {
		padding: 0px 50px;
		text-align: center;
		font-weight: 400;
		padding-bottom: 20px;
	}

	.main-img2__text {
		padding: 0px 50px;
		text-align: center;
		font-weight: 400;
		padding-bottom: 20px;
	}
}

@media (max-width: 500px) {
	.buttons {
		padding: 0;
		padding-bottom: 20px;
		margin-left: 30px;
		width: 150px;
		display: flex;
		flex-direction: column;
	}

	.button__left {
		width: 200px;
		margin-bottom: 10px;
	}

	.button__left p{
		font-size: 13px;
	}
	.button__right p{
		font-size: 13px;
	}
	.button__right {
		width: 200px;
	}

	.main-img1 img {
		max-width: 350px;
	}

	.main-img2 img {
		max-width: 300px;
	}

	.main-img1__text {
		padding: 0px 20px;
		text-align: center;
		font-weight: 400;
		padding-bottom: 20px;
	}

	.main-img2__text {
		padding: 0px 20px;
		text-align: center;
		font-weight: 400;
		padding-bottom: 20px;
	}
}

@media (max-width: 400px) {
	.main-img1 img {
		max-width: 300px;
	}
}